- name: WandbCallback
  configs:
    project: automatic-medical-coding
    entity: null
- name: SaveBestModelCallback
  configs:
    split: val
    target: all
    metric: auc_macro # 수정
- name: EarlyStoppingCallback
  configs:
    split: val
    target: all
    metric: auc_macro # 수정
    patience: 10
